<section class="invite-page">
  <div class="invite-page__envelope-slot">
    @if (!envelopeOpen) {
      <img class="invite-page__envelope" src="/assets/closedEnvelope.svg" alt="Закритий конверт" />
    } @else {
      <img class="invite-page__envelope" src="/assets/backPartOfEnvelope.svg" alt="" />
      <video class="invite-page__envelope invite-page__video" src="/assets/photos_transparent.webm" autoplay muted playsinline></video>
      <img class="invite-page__envelope" src="/assets/frontPartOfEnvelope.svg" alt="" />
    }
    <button type="button" class="invite-page__print-trigger" (click)="open()" aria-label="Відкрити конверт">
      <img class="invite-page__print" src="/assets/print.svg" alt="" />
    </button>
  </div>
</section>
