<section class="invite-page">
  <div class="invite-page__envelope-slot">
    <img
      class="invite-page__envelope invite-page__layer"
      [class.invite-page__layer--hidden]="envelopeOpen"
      src="/assets/closedEnvelope.svg"
      alt="Закритий конверт"
    />
    <img
      class="invite-page__envelope invite-page__layer"
      [class.invite-page__layer--hidden]="!envelopeOpen"
      src="/assets/backPartOfEnvelope.svg"
      alt=""
    />
    <video
      #video
      class="invite-page__envelope invite-page__video invite-page__layer"
      [class.invite-page__layer--hidden]="!envelopeOpen"
      src="/assets/photos_restored_opaque.webm"
      muted
      playsinline
      preload="auto"
    ></video>
    <img
      class="invite-page__envelope invite-page__layer"
      [class.invite-page__layer--hidden]="!envelopeOpen"
      src="/assets/frontPartOfEnvelope.svg"
      alt=""
    />
    <button type="button" class="invite-page__print-trigger" (click)="open()" aria-label="Відкрити конверт">
      <img class="invite-page__print" src="/assets/print.svg" alt="" />
    </button>
  </div>
</section>
